<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl || '../../../assets/img/user.png'}}" alt="{{user.knownAs}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/members/', user.id]">
          <li class="fa fa-user"></li>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="sendLike(user.id)">
          <li class="fa fa-heart"></li>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 3}">
          <li class="fa fa-envelope"></li>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i> {{user.knownAs}}, {{user.age}}
    </h6>
    <p class="card-text text-muted text-center">{{user.city}}</p>
  </div>
</div>